/*Google fonts*/
/*Lexend deca*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/*Big Shoulders Display*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*Colores primarios - cards y botones en hover*/
/*Colores neutrales*/
/*parrafos*/
/*background, headings y botones*/
body {
  font-size: 1.5rem;
  background: #f2f2f2;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  margin: 8.8rem auto;
}

@media screen and (min-width: 1024px) {
  .main-container {
    margin: 1.7rem auto 114px auto;
    width: 920px;
    flex-direction: row;
  }
}

.card__container {
  width: 375px;
  padding: 5rem 0;
}

@media screen and (min-width: 1024px) {
  .card__container {
    padding: 3.8rem 0;
  }
}

.card__container .img {
  display: inline-block;
  position: relative;
  left: 4.5rem;
  padding: 2rem 0;
}

.card__container .title {
  display: block;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 3.5rem;
  position: relative;
  left: 4.5rem;
  margin: 2rem 0;
}

@media screen and (min-width: 1024px) {
  .card__container .title {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.card__container p {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  text-align: left;
  margin: 2rem 4.5rem;
  padding: 2rem 0;
  letter-spacing: .1rem;
  vertical-align: top;
}

.card__container .button__card {
  margin: 1rem 4.5rem;
  border: none;
  border-radius: 2rem;
  padding: 1.2rem 3rem;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .card__container .button__card {
    margin-top: 5rem;
  }
}

.card__container--sedan {
  background: #e38826;
  border-radius: 1rem 1rem 0 0;
}

.card__container--sedan .button__card--sedan {
  color: #e38826;
  border: 2px solid transparent;
}

.card__container--sedan .button__card--sedan:hover {
  background: #e38826;
  color: rgba(255, 255, 255, 0.75);
  border: 2px solid #fff;
  cursor: pointer;
  transition: .5s;
}

@media screen and (min-width: 1024px) {
  .card__container--sedan {
    border-radius: 1rem 0 0 1rem;
  }
}

.card__container--suvs {
  background: #006970;
  border-radius: 0;
}

.card__container--suvs .button__card--suvs {
  color: #006970;
  border: 2px solid transparent;
}

.card__container--suvs .button__card--suvs:hover {
  background: #006970;
  color: rgba(255, 255, 255, 0.75);
  border: 2px solid #fff;
  cursor: pointer;
  transition: .5s;
}

.card__container--luxury {
  background: #004241;
  border-radius: 0 0 1rem 1rem;
}

.card__container--luxury .button__card--luxury {
  color: #004241;
  border: 2px solid transparent;
}

.card__container--luxury .button__card--luxury:hover {
  background: #004241;
  color: rgba(255, 255, 255, 0.75);
  border: 2px solid #fff;
  cursor: pointer;
  transition: .3s;
}

@media screen and (min-width: 1024px) {
  .card__container--luxury {
    border-radius: 0 1rem 1rem 0;
  }
}
